.ctn-img {
  width: 180px;
}
.ctn-img img {
  max-height: 150px;
  max-width: 100%;
}
.bounce {
  animation-name: bounce;
  animation-duration: 0.1s;
  animation-direction: alternate;
  animation-iteration-count: 8;
}
@keyframes bounce {
  0% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(6px);
  }
}
