.App {
  padding: 20px 60px;
}
body {
  /* background: linear-gradient(#ffcb05, #dc0a2d); */
  color: white;
  text-transform: capitalize;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.loading-container {
  background-color: #f7f7f9;
  height: 100vh !important;
  width: 100vw;
  position: absolute;
}
.loading-container > div {
  width: 400px;
}
@media (max-width: 768px) {
  .app {
    padding: 10px 30px;
  }
}
